body {
    background-image: url("../images/trainStation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    font-family: 'Abril Fatface', cursive;
}

td {
    background-color: black;
    color: goldenrod;

}

label{
    color: white;
}

p, tr{
    color: goldenrod;
}



.card-header {
    text-align: center;
}

.jumbotron {
    opacity: 0.5;
}

h4 {
    font-style: italic;
    font-size: 25px;
}

.curTrainTitle {
    font-weight: bold;
    font-size: 20px;
}

