* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/trainStation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    font-family: 'Abril Fatface', cursive;
}

td {
    background-color: black;
    color: goldenrod;

}

label{
    color: white;
}

p, tr{
    color: goldenrod;
}

.card-header {
    text-align: center;
}

th {
    font-size: 20px;
}

.jumbotron {
    opacity: 0.5;
}

h4 {
    font-style: italic;
    font-size: 25px;
}

.curTrainTitle, .addTrainTitle{
    font-weight: bold;
    font-size: 20px;
}

.addTrainContainer {
    width: 100%;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 20px rgba(0, 0, 0, 0.19); /*from w3 schools*/
    margin: 0 auto;
  }

  .deleteTrain:hover{
      color: red;
  }